Cython==3.0.12
IPython==8.12.3
accelerate==1.13.0
ai4ts==0.0.3
anyio==4.13.0
anywidget==0.9.21
astunparse==1.6.3
backcall==0.2.0
benchpots==0.5
bottleneck==1.4.2
brotli==1.2.0
catboost==1.2.10
certifi==2026.2.25
chardet==5.2.0
charset_normalizer==3.4.6
click==8.3.1
cloudpickle==3.1.2
colorlog==6.10.1
cramjam==2.11.0
cryptography==43.0.3
cvxopt==1.3.2
cycler==0.12.1
cython==3.0.12
debugpy==1.8.15
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.8
dtaidistance==2.4.0
einops==0.8.2
entrypoints==0.4
etils==1.14.0
filelock==3.25.2
flatbuffers==25.12.19
fsspec==2025.3.0
gast==0.7.0
gluonts==0.16.2
google==3.0.0
google_auth_httplib2==0.3.1
h11==0.16.0
h2==4.3.0
h5py==3.16.0
holidays==0.93
hpack==4.1.0
httpcore==1.0.9
httplib2==0.31.2
httpx==0.28.1
huggingface_hub==1.8.0
hyperframe==6.1.0
idna==3.11
importlib_metadata==8.7.1
importlib_resources==6.5.2
iniconfig==2.3.0
ipykernel==6.17.1
ipython_genutils==0.2.0
ipywidgets==7.7.1
jax==0.7.2
jaxlib==0.7.2
jinja2==3.1.6
joblib==1.5.3
jupyter_client==7.4.9
jupyter_core==5.9.1
keras==3.13.2
kiwisolver==1.5.0
lazy_loader==0.5
librosa==0.11.0
lightning==2.4.0
lightning_utilities==0.15.3
llvmlite==0.43.0
markupsafe==3.0.3
matplotlib==3.10.0
matplotlib_inline==0.2.1
ml_dtypes==0.5.4
more_itertools==10.8.0
mpmath==1.3.0
namex==0.1.0
nonlinear_benchmarks==1.0.1
numba==0.60.0
numexpr==2.14.1
numpy==2.0.2
oauth2client==4.1.3
opt_einsum==3.4.0
optree==0.19.0
optuna==4.8.0
orjson==3.11.7
packaging==24.2
pandas==2.2.2
patsy==1.0.2
pexpect==4.9.0
pickleshare==0.7.5
platformdirs==4.9.4
plotly==5.24.1
pluggy==1.6.0
polars==1.35.2
progressbar==2.5
prompt_toolkit==3.0.52
prophet==1.3.0
psutil==5.9.5
psygnal==0.15.1
ptyprocess==0.7.0
py4j==0.10.9.9
pyarrow==18.1.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
pydantic==2.12.3
pydantic_core==2.41.4
pydot==4.0.1
pygments==2.20.0
pygrinder==0.7
pyparsing==3.3.2
pypots==1.3
pyspark==4.0.2
pytest==8.4.2
pytz==2025.2
regex==2025.11.3
requests==2.32.4
rich==13.9.4
rsa==4.9.1
safetensors==0.7.0
scipy==1.15.3
seaborn==0.13.2
sentencepiece==0.2.1
shap==0.51.0
simplejson==3.20.2
six==1.17.0
slicer==0.0.8
sniffio==1.3.1
soundfile==0.13.1
soxr==1.0.0
statsmodels==0.14.6
sympy==1.14.0
tensorboard==2.19.0
tensorflow==2.19.0
termcolor==3.3.0
threadpoolctl==3.6.0
tokenizers==0.22.2
toolz==0.12.1
torch==2.10.0+cpu
torchmetrics==1.9.0
torchvision==0.25.0+cpu
tornado==6.5.1
tqdm==4.67.3
traitlets==5.7.1
transformers==5.0.0
tsdb==0.7.1
typing_extensions==4.15.0
typing_inspection==0.4.2
uritemplate==4.2.0
urllib3==2.5.0
wcwidth==0.6.0
wrapt==2.1.2
xgboost==3.2.0
zipp==3.23.0
zstandard==0.25.0